<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Jersey10-Regular.ttf</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Iris</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Iris controls other apps (Messages, Spotify, Music) to do what you ask.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Iris can read and create calendar events when you ask.</string>
	<key>NSContactsUsageDescription</key>
	<string>Iris uses contacts to send messages and emails when you ask.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Iris listens for your wake phrase and your commands.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Iris can read and create reminders when you ask.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Iris transcribes your speech on-device to understand what you want.</string>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>Iris uses accessibility to register global hotkeys and control system volume.</string>
</dict>
</plist>
